/* style.scss */
body {
  font: "Lucida Grande","Ubuntu","Droid Sans","Segoe UI",Segoe,sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background: url("stucco.png"); }
  body #wrapper {
    padding-bottom: 30px;
    min-height: 100%;
    background: white;
    width: 960px;
    margin: 0 auto;
    box-shadow: 6px 0px 10px -7px #888888, -6px 0px 10px -7px #888888; }
    body #wrapper div#helptext {
      padding: 2px 20px; }
      body #wrapper div#helptext a {
        color: #E56500;
        text-decoration: none; }
        body #wrapper div#helptext a:hover {
          color: orange; }
    body #wrapper h1 {
      position: relative;
      width: 891px;
      font-size: 1.7em;
      font-weight: bold;
      padding: 6px 20px 6px 70px;
      margin: 0px 10px 10px -20px;
      color: #555;
      background-color: #999;
      text-shadow: 0px 1px 2px #bbb;
      -webkit-box-shadow: 0px 2px 4px #888;
      -moz-box-shadow: 0px 2px 4px #888;
      box-shadow: 0px 2px 4px #888; }
      body #wrapper h1:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 0px;
        top: 100%;
        border-width: 5px 10px;
        border-style: solid;
        border-color: #666 #666 transparent transparent; }
      body #wrapper h1:before {
        content: ' ';
        position: absolute;
        width: 30px;
        height: 0;
        left: -30px;
        top: 12px;
        border-width: 20px 10px;
        border-style: solid;
        border-color: #999 #999 #999 transparent; }
    body #wrapper h2 {
      padding: 3px 10px;
      background: #E56500;
      color: white;
      border-top: 2px solid whitesmoke;
      border-bottom: 2px solid whitesmoke; }
    body #wrapper div.year {
      padding: 0px 30px; }
      body #wrapper div.year div.issue {
        text-align: center;
        padding: 0px 30px;
        float: left;
        width: 110px; }
        body #wrapper div.year div.issue img.thumbnail {
          display: inline-block;
          height: 142px; }
        body #wrapper div.year div.issue .button {
          position: relative;
          margin-top: 5px;
          margin-left: 5px; }

a.button {
  font-size: 11px;
  font-family: "Lucida Grande",Verdana,Tahoma,Arial,sans-serif;
  display: inline-block;
  line-height: 1rem;
  background: #EEE;
  background: -moz-linear-gradient(top, #eeeeee 0%, #dbdbdb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dbdbdb));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #dbdbdb 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #dbdbdb 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #dbdbdb 100%);
  background: linear-gradient(top, #eeeeee 0%, #dbdbdb 100%);
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 0px white;
  padding: 3px 12px 4px 9px;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0px 1px 0px white, 0px 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 0px white, 0px 1px 2px rgba(0, 0, 0, 0.08);
  -o-box-shadow: inset 0px 1px 0px white, 0px 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 0px white, 0px 1px 2px rgba(0, 0, 0, 0.08); }

.cb {
  clear: both; }
